{% extends '@App/Back/Statistics/PieChart.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#collapse3').collapse();
            $('#collapse3title').addClass('highlightLi');
            $('#cac_{{ requestedPage }}').addClass('highlightLi');
        });
    </script>
{% endblock %}
{% block onglet_title %}Chiffre d'affaire des commandes {{ requestedPage }}{% endblock %}
{% block table %}
    {% if total!=0 %}
        <div class="panel panel-default withPadding" id="tzone">
            <table id="StatTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Pickup</th>
                    <th>Drop</th>
                    <th>Prix (€)</th>
                </tr>
                </thead>
                <tbody>
                {% for t in transfers %}
                    <tr>
                        <td>{{ t.id }}</td>
                        <td> {{ t.date|date('d/m/Y H:i') }}</td>
                        {% if t.direction is sameas("to_vatry") %}
                            <td>{{ t.name }}</td>
                            <td> Aéroport Paris-Vatry</td>
                        {% else %}
                            <td> Aéroport Paris-Vatry</td>
                            <td>{{ t.name }} </td>
                        {% endif %}
                        <td>{{ t.price|number_format(2, '.', '') }}€</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}