{% extends '@App/Back/Statistics/PieChart.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#collapse1').collapse();
            $('#collapse1title').addClass('highlightLi');
            $('#ndp_prestation').addClass('highlightLi');
        });
    </script>
{% endblock %}
{% block onglet_title %}Nombre de passagers par type de prestation {% endblock %}

{% block table %}
    {% if total!=0 %}
        <div class="panel panel-default withPadding" id="tzone">
            <table id="StatTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Adulte</th>
                    <th>Enfants</th>
                    <th>Bébés</th>
                    <th>Total Passagers</th>
                    <th>Prestation</th>
                </tr>
                </thead>
                <tbody>
                {% for t in transfers %}
                    <tr>
                        <td> {{ t.id }}</td>
                        <td> {{ t.date|date('d/m/Y H:i') }}</td>
                        {% if t.qty is null %}
                            <td>0</td>
                        {% else %}
                            <td>{{ t.qty }}</td>
                        {% endif %}
                        {% if t.qtyChild is null %}
                            <td>0</td>
                        {% else %}
                            <td>{{ t.qtyChild }}</td>
                        {% endif %}
                        {% if t.qtyBaby is null %}
                            <td>0</td>
                        {% else %}
                            <td>{{ t.qtyBaby }}</td>
                        {% endif %}
                        <td><b>{{ t.qty+t.qtyBaby+t.qtyChild }}</b></td>
                        {% if t.type==constant('AppBundle\\Entity\\Transfer::INTERVILLE_TRANSFERT_To_TOWN') %}
                            <td>Partagée Interville</td>
                        {% elseif t.type == constant('AppBundle\\Entity\\Transfer::PORTEAPORTE_TRANSFERT_To_TOWN') %}
                            <td>Partagée Aéroport-Domicile</td>
                        {% elseif t.type == constant('AppBundle\\Entity\\Transfer::GARE_TRANSFER') %}
                            <td>Aéroport-Gare</td>
                        {% elseif t.type == constant('AppBundle\\Entity\\Transfer::PARIS_TRANSFER') %}
                            <td>Aéroport-Région Parisienne</td>
                        {% elseif t.type == constant('AppBundle\\Entity\\Transfer::PRIVATE_TRANSFER_TO_AIRPORT') %}
                            <td>Privé Aéroport-Aéroport</td>
                        {% elseif t.type == constant('AppBundle\\Entity\\Transfer::PRIVATE_TRANSFER_TO_TOWN') %}
                            <td>Privé Aéroport-Domicile</td>
                        {% elseif t.type == constant('AppBundle\\Entity\\Transfer::PARTICULAR_COMMAND') %}
                            <td>Commande Particulière</td>
                        {% elseif t.type == constant('AppBundle\\Entity\\Transfer::PARIS_AIRPORT') %}
                            <td>Paris Aéroport</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}