<html>
<head></head>
<body>


Bonjour {{ transfert.passenger.civility }} {{ transfert.passenger.name }} {{ transfert.passenger.lastname }}<br><br>
Votre devis pour le transfert {{ transfert.getPrestationTypeToDisplay() }} à partir de <br>
{{ transfert.address }} vers {{ transfert.address2 }} a été annulé.

<br><br>

Cordialement<br>
Le service client de navette de Vatry

</body>
</html>
