{% extends parent %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var date = a.split(' ')[0];
                var dates = date.split('/');
                var time = a.split(' ')[1];
                return (dates[2] + dates[1] + dates[0] + time);
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });

        $(function () {

            initDataTable('#transfers', {
                lengthChange: false,
                columnDefs: [
                    {
                        targets: [9],
                        orderable: false
                    }
                ],
                order: [[0, "desc"]],
                aoColumns: [
                    null,
                    {
                        "sType": 'date-uk'
                    },
                    {
                        "sType": 'date-uk'
                    },
                    {
                        "sType": 'date-uk'
                    },
                    null,
                    null,
                    null,
                    null,
                    null,
                    null
                ]
            });
        });


        //confirm rc
        var idCommande = null;
        function confirmCommande(id) {
            idCommande = id;
            $('#confirmCModal').modal('show');
        }

        $(document).on('click', '#com-confirm-btn', function (event) {
            $('#confirmCModal').modal('hide');
            $('input#transfert').val(idCommande);
            $('#confirmCForm').submit();
        });
        $(document).on('click', '#com-cancel-btn', function (event) {
            $('#confirmCModal').modal('hide');
        });




    </script>
    <style>
        .space {

            width: 37px !important;
        }

        #transfers th {
            background-color: #cb8d1e;
            color: #fff;
            font-weight: bold;
            font-size: 15px;
            text-transform: capitalize;
            text-align: left;

        }

        #transfers_filter label {

            text-transform: capitalize;
            font-family: helvetica, arial, sans-serif;
            font-weight: bold;
            font-size: 15px;
        }

        tbody {
            text-transform: capitalize !important;
            font-size: 13px;
            font-weight: bold;
        }

    </style>
{% endblock %}

{% block page_title %}
    Mes Transferts
    <div class="wrap">
        <div class="container">
            {#<div>#}
                {#Bonus : {{ bonus }} &euro;#}
            {#</div>#}
            {#<div>#}
                {#Volume: {{ volume }} &euro;#}
            {#</div>#}
        </div>
    </div>
{% endblock %}

{% block content %}

    <table id="transfers">
        <thead>
        <tr align="CENTER">

            <th>Réfèrence</th>
            <th>Date Du transfert Aller</th>
            <th>Date Du transfert Retour</th>
            <th>Date de réservation</th>
            <th>Pick-up</th>
            <th>Drop</th>
            <th>Trajet</th>
            <th>Prestation</th>
            <th>Statut</th>
            <th class="space"></th>

        </tr>
        </thead>

        <tbody>
        {%  if (transfers) %}
        {% for t in transfers %}
            <tr align="CENTER">

                <td>{{ t.reference }}</td>
                <td>
                    {% if ( t.pickupDate|date('H:i') is sameas ("00:00") ) %}
                        {{ t.pickupDate|date('d/m/Y') }}
                    {% else %}
                        {{ t.pickupDate|date('d/m/Y H:i') }}
                    {% endif %}
                </td>
                <td>
                    {% if t.roundTrip %}
                        {% if ( t.pickupDate2|date('H:i') is sameas ("00:00") ) %}
                            {{ t.pickupDate2|date('d/m/Y') }}
                        {% else %}
                            {{ t.pickupDate2|date('d/m/Y H:i') }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ t.createdAt|date('d/m/Y H:i') }}
                </td>

                {{ t.locations(false)|raw }}


                <td>
                    {% if t.roundTrip %}
                        A/R
                    {% else %}
                        Aller
                    {% endif %}
                </td>

                <td>
                    {{ t.prestationTypeToDisplay }}
                </td>
                <td>
                    {{ t.paymentType }}
                </td>
                <td>
                    <a href="{{ path('relay_customer_transfer_details',{'transfer' : t.id } ) }}" title="Détails"
                       target="_blank">
                        <span class="glyphicon glyphicon-search"></span></a>

                        <button  title="Valider" id="validateCommande" onclick="confirmCommande({{t.id }})">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>

                    {% if t.status==constant('STATUS_PAID',t) or t.status==constant('STATUS_PAID_RELAY',t) %}
                        <a href="{{ path('voucher',{'transfer' : t.id } ) }}" title="Voucher" target="_blank">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </a>
                    {% endif %}

                    {% if t.status==constant('STATUS_PAID',t) or t.status==constant('STATUS_PAID_RELAY',t) %}
                        <a href="{{ path('facture',{'transfer' : t.id } ) }}" title="Facture" target="_blank">
                            <span class="glyphicon glyphicon-euro"></span>
                        </a>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <br><br>

    <div class="modal fade" id="confirmCModal" tabindex="-1" role="dialog" aria-labelledby="cbModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="cbModalLabel">Valider Commande Last Minute</h4>
                </div>
                <div class="modal-body">
                    <p>Souhaitez vous valider la commande Last Minute ?</p>
                    <form method="post" id="confirmCForm" action="{{ path('validate_rc') }}">
                        <input type="hidden" class="form-control" name="transfert" id="transfert" value="">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="com-cancel-btn" class="btn medium btn-danger" data-dismiss="modal">Annuler</button>
                    <button type="button" id="com-confirm-btn" class="btn medium btn-primary">Confirmer</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
