<div class="col-md-2 col-xs-6">
    <div class="panel circular color1">
        <center><circle-title>Vols</circle-title>
        <br><val>{{ vol }}</val></center>
    </div>
</div>
<div class="col-md-2 col-xs-6">
    <div class="panel circular color2">
        <center><circle-title>Interville</circle-title>
        <br><val>{{ interville }}</val></center>
    </div>
</div>
<div class="col-md-2 col-xs-6">
    <div class="panel circular color3">
        <center><circle-title>Agglomeration</circle-title>
        <br><val>{{ agglomeration }}</val></center>
    </div>
</div>
<div class="col-md-2 col-xs-6">
    <div class="panel circular color4">
        <center><circle-title>Location</circle-title>
        <br><val>{{ location }}</val></center>
    </div>
</div>
<div class="col-md-2 col-xs-6">
    <div class="panel circular color5">
        <center> <circle-title>Porte à porte</circle-title>
        <br><val>{{ porteAporte }}</val></center>
    </div>
</div>
<div class="col-md-2 col-xs-6">
    <div class="panel circular color6">
        <center><circle-title>Location privé</circle-title>
        <br><val>{{ privatelocation }}</val></center>
    </div>
</div>
