<div class="row">
    <div class="col-xs-12">
        <b>Panier</b>
    </div>
    <div class="col-xs-12">
        {{ transfer.price|number_format(2,',','') }}
    </div>
    <div class="col-xs-12">
        Qty adultes: {{ transfer.qty }}
    </div>
    <div class="col-xs-12">
        Qty enfants: {{ transfer.qtyChild }}
    </div>
    <div class="col-xs-12">
        Qty bébé: {{ transfer.qtyBaby }}
    </div>
    <div class="col-xs-12">
        Sens: {{ transfer.direction }}
    </div>
</div>