{% extends '::base.html.twig' %}

{% block description %}Le Transfert privé Aéroport Vatry – Domicile est un service de transfert à la demande assurée vers ou à partir de toutes les villes situées dans le département de la Marne ou des départements voisins.{% endblock %}

{% block title %}
    Transfert privé Aéroport Vatry - Domicile
{% endblock %}

{% block logo %}

    <a href="{{ path('homepage') }}" title="Transfers"><img
                src="{{ asset('app/images/logo.jpg') }}" width="80px" alt="Navettes Aéroport Paris Vartry"/></a>

{% endblock %}


{% block main_block %}
<style>
    body{
        padding-top: 100px;
    }

    .text-justify {
        text-align: justify;
    }

    ul{
        list-style: none;
        padding: 0;
        margin:0 ;
    }
    li{

        padding-right: 16px;
    }
    li:before{

        content: "•" !important;
        padding-right: 5px !important;
        font-size: 39px;
        color: #DBBC94;
        position: absolute;
        margin-left: -16px;
        font-size: 39px;

    }

</style>

    <!-- Main -->
    <main class="main" role="main">
        <!-- Page info -->
        <header class="site-title color">

            <div class="wrap cWrap">
                <div class="container">
                    <h1>Transfert privé Aéroport – Domicile</h1>
                    <nav role="navigation" class="breadcrumbs cBreadcrumbs ">
                        <ul>
                            <div class="row">
                                <a href="{{ path('private_transfer_first_step') }}" class="btn costum medium black right wow fadeInRight">Réservez
                                    ici !</a>
                            </div>
                            <div class="row">
                                <img src="{{ asset('app/images/img_entet_prive_half.jpg') }}" alt="Navette taxi Aéroport de Vatry Domicile" />
                            </div>
                        </ul>
                    </nav>
                </div>
            </div>


        </header>
        <!-- //Page info -->


        <div class="wrap">
            <div class="row">

                <!--- Content -->
                <div class="full-width content textongrey">
                    <div class="one-half">
                        <div>

                            <p class="text-justify">
                                Le <strong>Transfert privé Aéroport – Domicile</strong> est un service de transfert à la
                                demande assurée vers ou à partir de toutes les villes situées dans le département de la
                                Marne, des départements voisins (Haute Marne, Aube, Ardennes, Aisne, Yonne, La Meuse,
                                la Meurthe et Moselle, la Côte d’Or ainsi que les départements de la Région Parisienne).
                                <br><br>
                                Les trajets du Transfert privé Aéroport - Domicile sont réalisés, selon le type de commande et le nombre des passagers, par des taxis, des Monospace,  des bus ou des véhicules de 9 places.<br><br>
                                Il s’agit d’une prestation de confort assurant le moyen le plus rapide pour accéder à l’aéroport ou pour joindre le domicile
                                Quelque soit la destination ou le nombre des passagers à transporter, le tarif de votre prestation est obtenu instantanément. <br>
                                Vous pouvez commander et confirmer votre commande en quelques minutes en ligne et sans demande préalable de devis.
                            </p>
                        </div>

                    </div>
                    <div class="one-half">
                        <center><img src="{{ asset('app/images/priveAD.jpg') }}" alt="Navette privée Aéroport Vatry Domicile" /></center>
                    </div>
                    <div class="full-width">
                        <a href="#" id="Bouton" class="btn medium black wow">Lire plus +</a><br><br>
                        <div id="tonDiv">
                            <ul><li>Il suffit de remplir le code postal et le nom de votre ville et de renseigner le nombre de personnes pour obtenir le tarif de votre commande</li>
                                <li>Si le tarif du transfert vous convient vous pouvez remplir le formulaire de réservation pour confirmer votre commande. Autrement, vous pouvez consulter nos autres prestations proposées afin de trouver celle qui répondra le mieux à votre besoin et votre budget
                                </li>
                                <li>Vous recevez le Voucher de confirmation de votre commande par mail dès validation de votre payement en ligne.</li>
                                <li>Le Voucher de confirmation contient les informations de votre rendez-vous. Imprimez-le et présentez-le à votre chauffeur le jour de votre voyage.
                                </li></ul>
                            <h3><u>Conditions de réservations</u></h3>
                            <ul><li>Réservation en ligne possible jusqu’au jour J-3 de votre voyage.  </li>
                                <li>Au-delà de J-3, commande possible par téléphone ou auprès du comptoir de Navette de Vatry aux heures d’ouverture de l’aéroport.
                                </li>
                                <li>Commandes en last minute possibles sous réserve de disponibilité des véhicules.</li></ul>

                            <h3><u>Conditions d’annulation</u></h3>
                            <ul><li>Jusqu’au jour J-3 : Annulation possible sans frais</li>
                                <li>A partir du jour J-2 : Commande non annulable non remboursable. </li></ul>

                        </div>
                    </div>

                </div>
                <!--- //Content -->

            </div>
        </div>
        <div class="color cta">
            <div class="wrap">
                <p class="wow fadeInLeft">Pour consulter les destinations du Transfert privé Aéroport Domicile  </p>
                <a  href="{{ path('taxi_aeroport_domicile') }}"  class="btn medium black right wow fadeInRight">Cliquez ici !</a>
            </div>
        </div>

        <div class=" white">
            <div class="wrap">
            </div>
        </div>
    </main>
    <!-- //Main -->


    <script>
        document.querySelector("#Bouton").onclick = function() {
            if (window.getComputedStyle(document.querySelector('#tonDiv')).display=='none'){
                document.querySelector("#tonDiv").style.display="block";
            } else {
                document.querySelector("#tonDiv").style.display="none";
            }
        }
    </script>

{% endblock %}