{% extends '::base.html.twig' %}
{% block logo %}

    <a href="{{ path('homepage') }}" title="Transfers"><img
                src="{{ asset('app/images/logo.jpg') }}" width="80px" alt="Navettes Aéroport Paris Vartry"/></a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var vatryLat = 48.780441;
        var vatryLng = 4.191239;
        var intervilleMap = null;

        var chalon = [
            {
                name: 'Château Thierry',
                lat: 49.038362,
                lng: 3.409571
            },
            {
                name: 'Vitry-le-François',
                lat: 48.718213,
                lng: 4.586729
            },
            {
                name: 'Bar-le-Duc',
                lat: 48.775134,
                lng: 5.164926
            },
            {
                name: 'Saint-Dizier',
                lat: 48.642716,
                lng: 4.947899
            },
            {
                name: 'Chaumont',
                lat: 48.7346554,
                lng: 2.3921195
            },
            {
                name: 'Langres',
                lat: 47.877026,
                lng: 5.344387
            }
        ];

        var reims = [
            {
                name: 'Champagne Ardennes TGV',
                lat: 49.215086,
                lng: 3.994701
            },
            {
                name: 'Sedan',
                lat: 49.695215,
                lng: 4.930570
            },
            {
                name: 'Charleville-Mézières',
                lat: 49.767995,
                lng: 4.724936
            },
            {
                name: 'Laon',
                lat: 49.570196,
                lng: 3.625003
            },
            {
                name: 'Metz',
                lat: 49.109975,
                lng: 6.177160
            },
            {#       {
                name: 'Luxembourg',
                lat: 49.600042,
                lng: 6.133946
            },
            #}
            {
                name: 'Epernay',
                lat: 49.046482,
                lng: 4.059739
            },
            {
                name: 'Paris',
                lat: 48.876798,
                lng: 2.209113
            },
            {
                name: 'Nancy',
                lat: 48.690065,
                lng: 6.174491
            }

        ];

        var gares = [
            {
                name: 'Reims',
                lat: 49.359419,
                lng: 4.143906
            }
        ];




        $(function () {

            intervilleMap = new GMaps({
                div: "#interville-map",
                lat: 48.907466,
                lng: 3.466182,
                zoom: 7
            });

            intervilleMap.addMarker({
                lat: vatryLat,
                lng: vatryLng,
                title: 'Aéroport Paris-Vatry',
                icon: '/app/images/airportIcon.png'
            });


            $.each(reims,function(key,value){
                intervilleMap.addMarker({
                    lat: value.lat,
                    lng: value.lng,
                    title: value.name,
                    icon: '/app/images/trainblue.png'
                    //icon: '/app/images/tgv1.png'
                });
            });


            $.each(gares,function(key,value){
                intervilleMap.addMarker({
                    lat: value.lat,
                    lng: value.lng,
                    title: value.name,
                    icon: '/app/images/steamtrain.png'
                    //icon: '/app/images/tgv1.png'
                });
            });

        })
    </script>
{% endblock %}

{% block main_block %}
    <style>

        body{
            padding-top: 100px;
        }

        .map-container {
            width: 100%;
            height: 385px;
            margin-top: 40px;
            padding: 10px;
            background-color: white;
        }

        h2 {
            font-size: 24px;
            padding: 0 0 28px;

        }
        .text-justify {
            text-align: justify;
        }
        .space p {
            font-weight: 500;
            line-height: 1.5;
            padding: 43px 0 20px;
        }
        ul{
            list-style: none;
            padding: 0;
            margin:0 ;
        }
        li{

            padding-right: 16px;
        }
        li:before{

            content: "•" !important;
            padding-right: 5px !important;
            font-size: 39px;
            color: #DBBC94;
            position: absolute;
            margin-left: -16px;
            font-size: 39px;

        }
    </style>

    <!-- Main -->
    <main class="main" role="main">
        <!-- Page info -->
        <header class="site-title color">

            <div class=" iconic ">
                <img src="{{ asset('app/images/img_entet_remis.jpg') }}" alt="" />
            </div>
        </header>
        <!-- //Page info -->


        <div class="wrap">
            <div class="row">

                <!--- Content -->
                <div class="full-width content textongrey">
                    <div class="one-half">
                        <div class="space">

                           <p class="text-justify"> Ce service permet de connecter l’Aéroport Paris-Vatry à la Gare de Reims centre grâce à la navette de liaison. <br><br>
                            La navette Aéroport – Gare de Reims est une navette régulière. Ses horaires sont associés aux heures des vols à l’arrivée ou en décollage de l’aéroport Paris-Vatry.<br><br><br>
                            Ce service permet aussi de combiner la navette avec le transport ferroviaire pour joindre les villes desservies par train ou par TGV à partir de la Gare Reims centre. <br>
                            Les principales villes connectées grâce à cette combinaison sont :</p><br><br>
                            <ul>
                                <li>Champagne Ardennes TGV</li>
                                <li>Paris</li>
                                <li>Epernay</li>
                                <li>Sedan</li>
                                <li>Charleville-Mézières</li>
                                <li>Laon</li>
                                <li>Metz</li>
                                <li>Nancy</li>
                            </ul>
                        </div>

                    </div>
                    <div class="one-half">
                        <div class="map-container" >
                            <div style="width: 100%; height: 100%;" id="interville-map">

                            </div>
                        </div>
                    </div>


                </div>
                <!--- //Content -->

            </div>
        </div>

        <div class="color cta">
            <div class="wrap">
                <p class="wow fadeInLeft">Pour commandez vos places dans la navette </p>
                <a href="{{ path('gare_transfer_first_step',{'zipCode' : constant("AppBundle\\Entity\\Location::GARE_REIMS")}) }}" class="btn medium black right wow fadeInRight">Réservez ici !</a>
            </div>
        </div>

        <div class=" white">
            <div class="wrap">
            </div>
        </div>

    </main>
    <!-- //Main -->

{% endblock %}